# -*- mode: gitignore; -*-

# Files resulted from tangle operation
config.el

# backup files
backups/

# org
.org-generic-id-locations

.\#*
network-security.data
oauth2-auto.plist
tramp
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list

# eshell
/eshell/history
/eshell/lastdir

# directories
games/
emms/
eln-cache/
auto-save-list/
newsticker/
org-persist/
persist/
transient/
url/
request/

# EIEIO
srecode-map.el

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

session.*

# nov epub reader
nov-places
places

# rmsbolt and bearbolt
beardbolt-sandbox/
compiler-explorer

# eww
eww-bookmarks